//GRID DE EXIBIÇÃO DAS PÁGINAS DE CASES ↓
.display__grid__100,
.display__grid__50_50,
.display__grid__descricao,
.page__content
    display: grid
    grid-gap: 5px
    grid-template-columns: 1fr

@media screen and ( min-width: 720px)
    .display__grid__100
        display: grid
        grid-gap: 5px
        grid-template-columns: 1fr

    .display__grid__50_50
        display: grid
        grid-gap: 5px
        grid-template-columns: 1fr 1fr

    .display__grid__descricao
        display: grid
        grid-gap: 5px
        grid-template-columns: 1fr 3fr 6fr 3fr
        padding: 0.6rem 0
        border-bottom: 0.5px solid $border-color
        background-color: $cor-principal
        margin-bottom: 30vh
        position: sticky
        top: 0
        
    .display__grid__info
        display: grid
        grid-gap: 5px
        grid-template-columns: 1fr 3fr 9fr
        padding-bottom: 5vh

    .display__grid__info__block
        max-width: 80%

        p
            padding-bottom: 1rem