
%grid__settings__large
        display: grid
        grid-gap: 0.6rem
        
//GRID DE EXIBIÇÃO DAS PÁGINAS DE CASES
.display__grid__100,
.display__grid__50_50,
.display__grid__33,
.display__grid__descricao,
.page__content
    grid-template-columns: 1fr
    @extend %grid__settings__large

@media screen and ( min-width: 720px)
    .display__grid__100
        @extend %grid__settings__large
        grid-template-columns: 1fr

    .display__grid__50_50
        @extend %grid__settings__large
        grid-template-columns: 1fr 1fr

    .display__grid__33
        @extend %grid__settings__large
        grid-template-columns: 1fr 1fr 1fr