@mixin dividers__gap
    border-top: 0.5px solid $border-color
    padding: 0.6rem 0
    background-color: $cor-principal
   

#project__container
    .project__list
        @include dividers__gap
        display: grid
        grid-template-columns: 2fr 3fr

        & .item__project__list__client, .item__project__list__type
            display: none

        .item__project__list__info
            display: none

    .project__list:last-child
        border-bottom: 0.5px solid $border-color

    .sticky
        color: invert($cor-principal) !important
        position: sticky
        top: 0
        z-index: 9999

.project__container__title
    padding-top: 2rem
    padding-bottom: 0.6rem

input
    @include dividers__gap
    width: 100%
    font-family: 'basier_square_monoregular'

input:focus
  outline: none

@media screen and (min-width: 720px)
    #project__container
        .project__list
            @include dividers__gap
            display: grid
            grid-template-columns: 1fr 3fr 4fr 2fr

            & .item__project__list__client, .item__project__list__type
                display: block !important

            .item__project__list__info
                display: none
