@mixin dividers__gap
    border-top: 0.5px solid $border-color
    padding: 0.6rem

.project__list
    width: 100%

#project__container
    .project__details
        @include dividers__gap
        display: grid
        grid-template-columns: 2fr 3fr
        transition: padding 0.6s ease

        & .item__project__list__client, .item__project__list__type
            display: none

        .item__project__list__info
            display: none

        &.no-match
            padding: 0.3rem 0

        & .item__project__list__client,
        .item__project__list__type
            display: none

.project__container__title
    padding-top: 2rem
    padding-bottom: 0.6rem

input
    @include dividers__gap
    width: 100%
    font-family: 'basier_square_monoregular'

input:focus
    outline: none

.gallery-container
    border-top: 0.5px solid $border-color
    display: grid
    grid-template-columns: 1fr 1fr 1fr

    figure
        border-left: 0.5px solid $border-color
        align-items: center

    *:hover
        opacity: 0.8
        cursor: pointer
        transition: 0.4s
        color: black

    img, iframe
        border-radius: 4px
        padding: 0.4rem 0.4rem 0.2rem
        object-fit: contain
        display: flex
        flex-direction: column
        gap: 0
        align-items: start

    iframe
        aspect-ratio: 52250/34833

    figcaption
        padding: 0 0.4rem 0.4rem

    .empty-figure
        cursor: default

.clickable
    cursor: pointer

    .project__details:hover
        color: $secondary-color

.accordion__content
    overflow: hidden
    transition: height 0.6s ease
    height: 0

    &.show
        height: auto

.empty__lines
    border-top: 0.5px solid $border-color
    padding: 0.3rem

.fade-in
    filter: blur(5px)
    opacity: 0.7
    transition: filter 1s ease-in-out

    &.loaded
        opacity: 1
        filter: blur(0px)


@media screen and (min-width: 728px)
    #project__container
        .project__details
            @include dividers__gap
            display: grid
            grid-template-columns: 1fr 1fr 2fr 1fr
            position: sticky
            z-index: 999
            background: $primary-color
            top: 0

            & .item__project__list__client, .item__project__list__type
                display: block

            .item__project__list__info
                display: none

    .grid__template
        display: grid
        grid-template-columns: 2fr 10fr
        grid-gap: 0.4rem

    .accordion__content
        .gallery-container
            display: grid
            grid-template-columns: repeat(20, 1fr)
