.display__grid__2,
.display__grid__3,
.display__grid__4,
.display__grid__5,
.display__grid__6

    display: grid

@media screen and ( min-width: 720px)
    .display__grid__2
        display: grid
        grid-gap: 5px
        grid-template-columns: 3fr 1fr
        
    .display__grid__3
        display: grid
        grid-gap: 5px
        grid-template-columns: 1fr

    .display__grid__4
        padding-top: 5px
        display: grid
        grid-gap: 5px
        grid-template-columns: 1fr 1fr

    .display__grid__5
        display: grid
        grid-gap: 5px
        grid-template-columns: 1fr 2fr 1fr
        padding-bottom: 5vh

    .display__grid__6
        display: grid
        grid-gap: 5px
        grid-template-columns: repeat(6, 1fr)
        padding-top: 5px
        padding-bottom: 5px

