.bio__text
    display: grid
    grid-template-columns: 2fr 3fr
    padding: 0 0.6rem 6rem

    .column__4
        padding-top: 0.6rem
        display: block

    .toggle-container
        padding-top: 0.6rem

    .addicional
        display: flex
        flex-direction: column


@media screen and (min-width: 728px)
    .bio__text
        grid-template-columns: 1fr 1fr 2fr 1fr

        .column__4
            padding: 0
            display: flex
            justify-content: space-between

        .toggle-container
            padding: 0