#loader-overlay
    position: fixed
    top: 0
    left: 0
    padding-top: 1.3rem
    width: 100vw
    height: 100vh
    background-color: #ffffffce
    backdrop-filter: blur(5px)
    z-index: 9999
    justify-content: space-between

#child-overlay
    margin: 0.6rem
    display: grid
    grid-template-columns: 2fr 3fr

#content__loader
    display: block
    width: 100%
    background-color: pink

.fadeout
    animation: fadeOut 1s ease-in-out forwards

@keyframes fadeOut
    0%
        opacity: 1

    100%
        opacity: 0
        visibility: hidden

@media screen and (min-width: 728px)
    #child-overlay
        grid-template-columns: 1fr 1fr 2fr 1fr
