@mixin dividers__gap
    border-top: 0.5px solid $border-color
    padding: 0.4rem 0
    background-color: $primary-color

nav
    @include dividers__gap
    display: flex
    justify-content: space-between
    border-bottom: 0.5px solid $border-color
    position: sticky
    z-index: 1 !important