.fixed__content
    width: 100%
    position: fixed
    z-index: 999
    bottom: 0
    left: 0
    padding: 5px 5px 5px 5px
    background-color: $primary-bg

.about__content
    display: none
    height: 80vh
    overflow: auto

.about__detalhes
    display: flex
    justify-content: space-between

.about__content__interna
    max-width: calc( 100vw - 10px )
    padding-top: 5px
    height: 100%

.wrapper__about__content_interna
    display: flex
    justify-content: space-between

.retonar__inicial
        display: none

@media screen and ( min-width: 720px)
    .about__content__interna
        max-width: calc( 100vw - 10px )
        padding-top: 5px

    .retonar__inicial
        display: block