a
    color: $primary-color

a:hover
    color: $primary-color
    text-decoration: none


.link:hover
    background: $p-main-color
    padding-left: 20px
    transition: 0.2s

h5,
figcaption
    font-size: 12px
    letter-spacing: 0.01em
    text-transform: uppercase
    margin-bottom: 0px