a
    color: invert($cor-principal)
    text-decoration: none

a:hover
    color: $secundary-color
    text-decoration: none

p
    font-size: 12px
    letter-spacing: 0.01em
    text-transform: uppercase
    margin-bottom: 0px
    line-height: 130%

.no__link
    color: $disabled_link !important
    cursor: default

.no__link:hover
    color: $disabled_link
    cursor: default

.no
    color: $disabled-link