@charset "UTF-8";
* {
  padding: 0;
  margin: 0;
  vertical-align: baseline;
  list-style: none;
  border: 0;
}

*, *:before, *:after {
  box-sizing: border-box;
}

html, body, div, span, object, iframe, figure, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, code, em, img, small, strike, strong, sub, sup, tt, b, u, i, ol, ul, li, fieldset, form, label, table, caption, tbody, tfoot, thead, tr, th, td, main, canvas, embed, footer, header, nav, section, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: none;
     -moz-text-size-adjust: none;
          text-size-adjust: none;
}

footer, header, nav, section, main {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

input {
  -webkit-appearance: none;
  border-radius: 0;
}

figure {
  display: inline-block;
  margin: 0;
  padding: 0;
}
figure img {
  display: block;
  height: auto;
  width: 100%;
}

nav {
  border-top: 0.5px solid #191919;
  padding: 0.4rem 0;
  background-color: #101010;
  display: flex;
  justify-content: space-between;
  border-bottom: 0.5px solid #191919;
  position: sticky;
  z-index: 1 !important;
}

.carousel-modal {
  display: none;
  position: fixed;
  z-index: 10;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.9);
  justify-content: center;
  align-items: center;
}

.carousel-content {
  position: relative;
}

.carousel-controls button,
.close {
  background-color: transparent;
  border: none;
  color: white;
  font-size: 2rem;
  cursor: pointer;
}

/* Estilo para o modal */
.carousel-modal {
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: #101010;
  justify-content: center;
  align-items: center;
  z-index: 9999;
  overflow: hidden;
}

/* Área clicável à esquerda */
.carousel-modal:before,
.carousel-modal:after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  width: 50%;
  z-index: 1;
}

/* Cursor para a área esquerda */
.carousel-modal:before {
  left: 0;
  cursor: w-resize;
}

/* Cursor para a área direita */
.carousel-modal:after {
  right: 0;
  cursor: e-resize;
}

.close-modal {
  position: absolute;
  top: 20px;
  right: 20px;
  background: transparent;
  border: none;
  color: black;
  font-size: 24px;
  cursor: pointer;
  z-index: 1000;
}

.bio__text {
  display: grid;
  grid-template-columns: 2fr 3fr;
  padding: 0.6rem 0 6rem;
}
.bio__text .column__4 {
  padding-top: 0.6rem;
  display: block;
}
.bio__text .toggle-container {
  padding-top: 0.6rem;
}
.bio__text .addicional {
  display: flex;
  flex-direction: column;
}

@media screen and (min-width: 728px) {
  .bio__text {
    grid-template-columns: 1fr 1fr 2fr 1fr;
    padding-bottom: 0.6rem;
  }
  .bio__text .column__4 {
    padding: 0;
    display: flex;
    justify-content: space-between;
  }
  .bio__text .toggle-container {
    padding: 0;
  }
}
a {
  color: #efefef;
  text-decoration: none;
}

a:hover {
  color: #b7b7b7;
  text-decoration: none;
}

p, a, figcaption, input {
  font-size: 9px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-bottom: 0px;
  line-height: 150%;
  display: inline-block;
}

figcaption {
  padding-top: 0 !important;
  padding-bottom: 0.6rem;
}

.no__link {
  color: #363636 !important;
  cursor: default;
}

.no__link:hover {
  color: #363636;
  cursor: default;
}

.heading__teste {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

@media screen and (min-width: 720px) {
  figcaption {
    max-width: 60%;
  }
}
.project__list {
  width: 100%;
}

#project__container .project__details {
  border-top: 0.5px solid #191919;
  padding: 0.6rem 0;
  background-color: #101010;
  display: grid;
  grid-template-columns: 2fr 3fr;
  transition: padding 0.6s ease;
}
#project__container .project__details .item__project__list__client, #project__container .project__details .item__project__list__type {
  display: none;
}
#project__container .project__details .item__project__list__info {
  display: none;
}
#project__container .project__details.no-match {
  padding: 0.3rem 0;
}
#project__container .project__details .item__project__list__client,
#project__container .project__details .item__project__list__type {
  display: none;
}
#project__container .project__list:last-child {
  border-bottom: 0.5px solid #191919;
}
#project__container .sticky {
  color: #efefef !important;
  position: sticky;
  top: 0;
  z-index: 9999;
}

.project__container__title {
  padding-top: 2rem;
  padding-bottom: 0.6rem;
}

input {
  border-top: 0.5px solid #191919;
  padding: 0.6rem 0;
  background-color: #101010;
  width: 100%;
  font-family: "basier_square_monoregular";
}

input:focus {
  outline: none;
}

.gallery-container figure {
  border-left: 0.5px solid #191919;
  border-top: 0.5px solid #191919;
  align-items: center;
}
.gallery-container *:hover {
  opacity: 0.8;
  cursor: pointer;
  transition: 0.4s;
  color: black;
}
.gallery-container img, .gallery-container video, .gallery-container figcaption {
  padding: 0.4rem;
  -o-object-fit: contain;
     object-fit: contain;
}
.gallery-container .empty-figure {
  cursor: default;
}

.clickable {
  cursor: pointer;
}
.clickable:hover {
  color: #b7b7b7;
}

.accordion__content {
  overflow: hidden;
  transition: height 0.6s ease;
  height: 0;
}
.accordion__content.show {
  height: auto;
}

@media screen and (min-width: 728px) {
  #project__container .project__details {
    border-top: 0.5px solid #191919;
    padding: 0.6rem 0;
    background-color: #101010;
    display: grid;
    grid-template-columns: 1fr 1fr 2fr 1fr;
  }
  #project__container .project__details .item__project__list__client, #project__container .project__details .item__project__list__type {
    display: block;
  }
  #project__container .project__details .item__project__list__info {
    display: none;
  }
  .grid__template {
    display: grid;
    grid-template-columns: 2fr 10fr;
    grid-gap: 0.4rem;
  }
  .accordion__content .gallery-container {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    border-right: 0.5px solid #191919;
  }
}
video {
  width: 100%;
  display: flex;
  margin: 0 !important;
}

.invisible-text {
  visibility: hidden;
}

#loader-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: #101010;
  z-index: 9999;
  justify-content: space-between;
}

#child-overlay {
  margin: 0.6rem;
  display: grid;
  grid-template-columns: 2fr 3fr;
}

#content__loader {
  display: block;
  width: 100%;
  background-color: pink;
}

.fadeout {
  animation: fadeOut 1s ease-in-out forwards;
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    visibility: hidden;
  }
}
@media screen and (min-width: 728px) {
  #child-overlay {
    grid-template-columns: 1fr 1fr 2fr 1fr;
  }
}
.toggle-container {
  display: inline-block;
  position: relative;
  width: 1.563rem;
  height: 0.938rem;
}

.ios-toggle {
  display: none;
}

.toggle-label {
  display: block;
  width: 100%;
  height: 100%;
  background-color: #363636;
  position: absolute;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
.toggle-label::before {
  content: "";
  position: absolute;
  top: 0.156rem;
  left: 0.156rem;
  width: 0.656rem;
  height: 0.656rem;
  background-color: #101010;
  transition: transform 0.3s ease;
}

.ios-toggle:checked + .toggle-label {
  background-color: #363636;
}

.ios-toggle:checked + .toggle-label::before {
  transform: translateX(9.5px);
}

body {
  background-color: #101010;
  color: #efefef;
  font-family: "basier_square_monoregular";
  margin: 0 0.6rem;
  overflow-y: scroll;
}

@font-face {
  font-family: "basier_square_monoregular";
  src: url("bases/basiersquaremono-regular-webfont-webfont.woff2") format("woff2"), url("bases/basiersquaremono-regular-webfont-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@media screen and (prefers-reduced-motion: no-preference) {
  html {
    scroll-behavior: smooth;
  }
}
::-webkit-scrollbar {
  display: none;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

::-moz-selection {
  color: #101010;
  background: #fff000;
}

::selection {
  color: #101010;
  background: #fff000;
}/*# sourceMappingURL=styleDark.css.map */