* {
  padding: 0;
  margin: 0;
  vertical-align: baseline;
  list-style: none;
  border: 0;
}

a {
  color: #efefef;
  text-decoration: none;
}

a:hover {
  color: #b7b7b7;
  text-decoration: none;
}

p, a {
  font-size: 10px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-bottom: 0px;
  line-height: 150%;
  display: block;
}

.no__link {
  color: #363636 !important;
  cursor: default;
}

.no__link:hover {
  color: #363636;
  cursor: default;
}

.no {
  color: #363636;
}

.heading__teste {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.bio__data__container .bio__data, .child__personal__data, #project__container .project__list {
  border-top: 0.5px solid #191919;
  padding: 0.6rem 0;
  background-color: #101010;
}

#project__container .project__list {
  display: grid;
  grid-template-columns: 1fr 3fr 6fr 2fr 1fr;
}
#project__container .project__list:first-child {
  border-top: none;
  color: #efefef !important;
}
#project__container .project__list .item__project__list__more {
  display: flex;
  justify-content: flex-end;
}
@media (max-width: 600px) {
  #project__container .project__list {
    grid-template-columns: 1fr 2fr 2fr;
  }
  #project__container .project__list .item__project__list__client, #project__container .project__list .item__project__list__more {
    display: none;
  }
}

.child__personal__data {
  display: grid;
  grid-template-columns: 1fr 4fr;
}
.child__personal__data > * {
  grid-column-start: 2;
}
.child__personal__data .block__name {
  padding-bottom: 2rem;
}

.bio__data__container .bio__data {
  display: grid;
  grid-template-columns: 1fr 4fr;
  z-index: -1;
}
.bio__data__container .bio__data :last-child {
  display: none;
}
.bio__data__container .bio__text {
  max-width: 95%;
}
.bio__data__container .block__list {
  padding-bottom: 0.8rem;
}
.bio__data__container .block__list:last-child {
  padding-bottom: 5vh;
}

@media (min-width: 600px) {
  .bio__data__container .bio__data {
    grid-template-columns: 4fr 6fr 3fr;
  }
  .bio__data__container .bio__data :last-child {
    display: block;
  }
  .bio__data__container .bio__text {
    max-width: 80%;
  }
  .bio__data__container .child__personal__data {
    grid-template-columns: 4fr 6fr 3fr;
  }
  .bio__data__container .child__personal__data > p {
    grid-column-start: 2;
  }
  .bio__data__container .child__personal__data > * {
    grid-column-start: auto;
  }
  .bio__data__container .child__personal__data .block__name {
    padding-bottom: 0;
  }
}
video {
  width: 100%;
  margin: 0 !important;
}

#loader-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: #101010;
  z-index: 9999;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
#loader-overlay #child-overlay {
  width: 100%;
  margin: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
#loader-overlay #child-overlay :last-child {
  width: 80px;
  display: flex;
  justify-content: end;
}

.fadeout {
  animation: fadeOut 1s ease-in-out forwards;
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    visibility: hidden;
  }
}
#canvas-container {
  min-height: 100vh;
  display: flex;
  justify-content: start;
  align-items: flex-end;
  position: relative;
}

.canvas-container-social {
  position: absolute;
  top: 50%;
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.canvas-container-disclaimers {
  align-items: flex-end;
}

.display__grid__100,
.display__grid__50_50,
.display__grid__descricao,
.page__content {
  display: grid;
  grid-gap: 5px;
  grid-template-columns: 1fr;
}

@media screen and (min-width: 720px) {
  .display__grid__100 {
    display: grid;
    grid-gap: 5px;
    grid-template-columns: 1fr;
  }
  .display__grid__50_50 {
    display: grid;
    grid-gap: 5px;
    grid-template-columns: 1fr 1fr;
  }
  .display__grid__descricao {
    display: grid;
    grid-gap: 5px;
    grid-template-columns: 1fr 1fr 1fr;
    padding-bottom: 5vh;
  }
}
body {
  background-color: #101010;
  color: #efefef;
  font-family: "basier_square_monoregular";
  margin: 5px;
  overflow-y: scroll;
}

@font-face {
  font-family: "basier_square_monoregular";
  src: url("bases/basiersquaremono-regular-webfont-webfont.woff2") format("woff2"), url("bases/basiersquaremono-regular-webfont-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@media screen and (prefers-reduced-motion: no-preference) {
  html {
    scroll-behavior: smooth;
  }
}
::-webkit-scrollbar {
  display: none;
  -ms-overflow-style: none;
  scrollbar-width: none;
}/*# sourceMappingURL=style.css.map */