@import './helpers/_variables'
@import './bases/_navbar'

@import './animations/_loader'
@import './animations/_cursor'

@import './bases/_text'
@import './bases/_grids'
@import './bases/_video'
@import './bases/_imageZoom'

body
  background: $primary-bg
  font-family: 'basier_square_monoregular'
  margin: 5px
  cursor: crosshair
  letter-spacing: -1px
                                  
.splide
  cursor: grab

@font-face
  font-family: 'basier_square_monoregular'
  src: url('basiersquaremono-regular-webfont-webfont.woff2') format('woff2'), url('basiersquaremono-regular-webfont-webfont.woff') format('woff')
  font-weight: normal
  font-style: normal

@media screen and (prefers-reduced-motion: no-preference)
  html
    scroll-behavior: smooth

::-webkit-scrollbar
  display: none
  -ms-overflow-style: none // IE and Edge
  scrollbar-width: none // Firefox

img,
video
  border-radius: 3px