* {
  padding: 0;
  margin: 0;
  vertical-align: baseline;
  list-style: none;
  border: 0;
}

*, *:before, *:after {
  box-sizing: border-box;
}

html, body, div, span, object, iframe, figure, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, code, em, img, small, strike, strong, sub, sup, tt, b, u, i, ol, ul, li, fieldset, form, label, table, caption, tbody, tfoot, thead, tr, th, td, main, canvas, embed, footer, header, nav, section, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: none;
     -moz-text-size-adjust: none;
          text-size-adjust: none;
}

footer, header, nav, section, main {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

input {
  -webkit-appearance: none;
  border-radius: 0;
}

figure {
  display: inline-block;
  margin: 0;
  padding: 0;
}
figure img {
  display: block;
  height: auto;
  width: 100%;
}

.media-placeholder {
  background-color: #ededed;
  width: 100%;
  min-height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  overflow: hidden;
}

.media-placeholder img,
.media-placeholder video {
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  width: 100%;
}

.media-placeholder img.loaded,
.media-placeholder video.loaded {
  opacity: 1;
}

.media-placeholder::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #fff;
  animation: loading-placeholder 1s infinite;
  display: flex;
  padding: 0.6rem;
  font-size: 9px;
}

.media-placeholder figcaption {
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  padding-top: 8px;
}

.media-placeholder img.loaded + figcaption,
.media-placeholder video.loaded + figcaption {
  opacity: 1;
}

@keyframes loading-placeholder;
@keyframes loading-placeholder {
  0% {
    content: "/";
    font-family: "basier_square_monoregular";
  }
  12.5% {
    content: "-";
    font-family: "basier_square_monoregular";
  }
  25% {
    content: "\\";
    font-family: "basier_square_monoregular";
  }
  37.5% {
    content: "|";
    font-family: "basier_square_monoregular";
  }
  50% {
    content: "/";
    font-family: "basier_square_monoregular";
  }
  62.5% {
    content: "-";
    font-family: "basier_square_monoregular";
  }
  75% {
    content: "\\";
    font-family: "basier_square_monoregular";
  }
  87.5% {
    content: "|";
    font-family: "basier_square_monoregular";
  }
  100% {
    content: "/";
    font-family: "basier_square_monoregular";
  }
}
nav {
  border-top: 0.5px solid #eaeaea;
  padding: 0.4rem 0;
  background-color: #ffffff;
  display: flex;
  justify-content: space-between;
  border-bottom: 0.5px solid #eaeaea;
  position: sticky;
  z-index: 1 !important;
}

.bio__text {
  display: grid;
  grid-template-columns: 2fr 3fr;
  padding: 0 0.6rem 20vh;
}

.info__text {
  display: grid;
  grid-template-columns: 2fr 3fr;
  padding: 0 0.6rem 0.6rem;
}
.info__text .column__4 {
  padding-top: 0.6rem;
  display: block;
}
.info__text .toggle-container {
  padding-top: 0.6rem;
}
.info__text .addicional {
  display: flex;
  flex-direction: column;
}

.ref__text {
  padding: 0 0.6rem 0.6rem;
  display: grid;
  grid-template-columns: 1fr 1fr 3fr;
}
.ref__text p {
  grid-column-start: 3;
}

@media screen and (min-width: 728px) {
  .bio__text, .info__text {
    grid-template-columns: 1fr 1fr 2fr 1fr;
  }
}
a {
  color: black;
  text-decoration: none;
}

a:hover {
  color: #6d6d6d;
  text-decoration: none;
}

p, a, figcaption, input {
  font-size: 9px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-bottom: 0px;
  line-height: 150%;
  display: inline-block;
}

.no__link {
  color: #b7b7b7 !important;
  cursor: default;
}

.no__link:hover {
  color: #b7b7b7;
  cursor: default;
}

.heading__teste {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.project__list {
  width: 100%;
}

#project__container .project__details {
  border-top: 0.5px solid #eaeaea;
  padding: 0.6rem;
  display: grid;
  grid-template-columns: 2fr 3fr;
  transition: padding 0.6s ease;
}
#project__container .project__details .item__project__list__client, #project__container .project__details .item__project__list__type {
  display: none;
}
#project__container .project__details .item__project__list__info {
  display: none;
}
#project__container .project__details.no-match {
  padding: 0.3rem 0;
}
#project__container .project__details .item__project__list__client,
#project__container .project__details .item__project__list__type {
  display: none;
}

.project__container__title {
  padding-top: 2rem;
  padding-bottom: 0.6rem;
}

input {
  border-top: 0.5px solid #eaeaea;
  padding: 0.6rem;
  width: 100%;
  font-family: "basier_square_monoregular";
}

input:focus {
  outline: none;
}

.gallery-container {
  border-top: 0.5px solid #eaeaea;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}
.gallery-container figure {
  border-left: 0.5px solid #eaeaea;
  align-items: center;
}
.gallery-container *:hover {
  opacity: 0.8;
  cursor: pointer;
  transition: 0.4s;
  color: black;
}
.gallery-container img, .gallery-container iframe {
  border-radius: 4px;
  padding: 0.4rem 0.4rem 0.2rem;
  -o-object-fit: contain;
     object-fit: contain;
  display: flex;
  flex-direction: column;
  gap: 0;
  align-items: start;
}
.gallery-container iframe {
  aspect-ratio: 52250/34833;
}
.gallery-container figcaption {
  padding: 0 0.4rem 0.4rem;
}
.gallery-container .empty-figure {
  cursor: default;
}

.clickable {
  cursor: pointer;
}
.clickable .project__details:hover {
  color: #6d6d6d;
}

.accordion__content {
  overflow: hidden;
  transition: height 0.6s ease;
  height: 0;
}
.accordion__content.show {
  height: auto;
}

.empty__lines {
  border-top: 0.5px solid #eaeaea;
  padding: 0.3rem;
}

.fade-in {
  filter: blur(5px);
  opacity: 0.7;
  transition: filter 1s ease-in-out;
}
.fade-in.loaded {
  opacity: 1;
  filter: blur(0px);
}

@media screen and (min-width: 728px) {
  #project__container .project__details {
    border-top: 0.5px solid #eaeaea;
    padding: 0.6rem;
    display: grid;
    grid-template-columns: 1fr 1fr 2fr 1fr;
    position: sticky;
    z-index: 999;
    background: #ffffff;
    top: 0;
  }
  #project__container .project__details .item__project__list__client, #project__container .project__details .item__project__list__type {
    display: block;
  }
  #project__container .project__details .item__project__list__info {
    display: none;
  }
  .grid__template {
    display: grid;
    grid-template-columns: 2fr 10fr;
    grid-gap: 0.4rem;
  }
  .accordion__content .gallery-container {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr 1fr 3fr 1fr 1fr;
  }
}
video {
  width: 100%;
  display: flex;
  margin: 0 !important;
}

.invisible-text {
  visibility: hidden;
}

#loader-overlay {
  position: fixed;
  top: 0;
  left: 0;
  padding-top: 1.3rem;
  width: 100vw;
  height: 100vh;
  background-color: rgba(255, 255, 255, 0.8078431373);
  -webkit-backdrop-filter: blur(2px);
          backdrop-filter: blur(2px);
  z-index: 9999;
  justify-content: space-between;
}

#child-overlay {
  margin: 0.6rem;
  display: grid;
  grid-template-columns: 2fr 3fr;
}

#content__loader {
  display: block;
  width: 100%;
  background-color: pink;
}

.fadeout {
  animation: fadeOut 1s ease-in-out forwards;
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    visibility: hidden;
  }
}
@media screen and (min-width: 728px) {
  #child-overlay {
    grid-template-columns: 1fr 1fr 2fr 1fr;
  }
}
.carousel-modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 99999;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  overflow-y: auto;
  background-color: rgba(255, 255, 255, 0.9490196078);
  -webkit-backdrop-filter: blur(7px);
          backdrop-filter: blur(7px);
}

.carousel-media {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  overflow-y: auto;
  padding: 0.6rem;
}
.carousel-media img, .carousel-media video {
  max-height: 80vh;
  width: auto;
}

.close-modal {
  margin: 0.6rem;
  padding: 0.4rem;
  -webkit-backdrop-filter: blur(7px);
          backdrop-filter: blur(7px);
  opacity: 0.8;
  border-radius: 0.1rem;
  cursor: pointer;
  position: absolute;
  top: 0;
  right: 0;
  background-color: #eaeaea;
}
.close-modal ::hover {
  color: #6d6d6d;
}

body {
  background-color: #ffffff;
  color: black;
  font-family: "basier_square_monoregular";
  overflow-y: scroll;
}

@font-face {
  font-family: "basier_square_monoregular";
  src: url("bases/basiersquaremono-regular-webfont-webfont.woff2") format("woff2"), url("bases/basiersquaremono-regular-webfont-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@media screen and (prefers-reduced-motion: no-preference) {
  html {
    scroll-behavior: smooth;
  }
}
::-webkit-scrollbar {
  display: none;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

::-moz-selection {
  color: #ffffff;
  background: #000fff;
}

::selection, .highlight {
  color: #ffffff;
  background: #000fff;
}/*# sourceMappingURL=styleLight.css.map */